%h1 Sign In

%form{ action: '/sessions/users/sign_in', method: 'post' }
  .form-group
    %label{ for: 'email' } email
    %input{ id: 'email', name: 'email', type: 'email' }

  .form-group
    %label{ for: 'password' } password
    %input{ id: 'password', name: 'password', type: 'password' }

  .form-group
    %input{ type: 'submit' }