%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{ content: 'Blue' }
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1" }
    %link{ href: '/assets/app.css', rel: 'stylesheet' }
  %body{ class: 'container' }
    %header
      %h1 
        The title - Hi
    %main
      -if current_user
        %a{ href: '/sessions/sign_out', 'data-method': 'DELETE', class: 'btn' } Logout
      - else
        %a{ href: '/sessions/users/sign_in', class: 'btn' } Sign In
        %a{ href: '/sessions/users/sign_up', class: 'btn' } Sign Up
      != yield
    %script{ src: "/assets/app.js" }